notebook
jupyter
jupyterlab
nbconvert
tensorflow; platform_machine != 'arm64'
tensorflow-macos; platform_machine == 'arm64'
cloudmesh-common
pycodestyle
pep8
autopep8
torch
torchvision
matplotlib
pydot
graphviz
py-cpuinfo
papermill
seaborn
